body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 150px;
}

.container1{
    display: flex;
    background-color: white;
    width: 80;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(43, 32, 32, 0.1);
}

.left{
    background-attachment: #3b3737;
    background-color: rgb(63, 62, 62);
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid rgb(167, 161, 161);
}

.pic{
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid rgb(247, 142, 142);
    margin-bottom: 20px;
}

h1{
    font-size: 40px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(236, 132, 132);
    margin-top: 5%;
    margin-bottom: 5%;
}

ul{
    list-style-type: fill square;
    padding: 10px;
    margin: 10px 0;
}

ul li{
    margin: 5px 0;
}

.right{
    padding: 20px;
    width: 100%;
}

button{
    font-size: arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover{
    background-color: pink;
}

